<div *ngIf="hero">
  <mat-card class="hero-edit-content">
    <mat-card-title>{{hero.name | uppercase}} | id: {{hero.id}} </mat-card-title>
    
    <mat-form-field class="example-full-width">
      <mat-label>Hero name:</mat-label>
      <input matInput placeholder="Hero name" [(ngModel)]="hero.name">
    </mat-form-field>
    
    <br>
    
    <mat-form-field class="example-full-width">
      <mat-label>Hero Description:</mat-label>
      <input matInput placeholder="Hero Description" [(ngModel)]="hero.description">
    </mat-form-field>
    
    <br>
    
    <mat-form-field class="example-full-width">
      <mat-label>Hero image url:</mat-label>
      <input matInput placeholder="Hero Image" [(ngModel)]="hero.imageUrl">
    </mat-form-field>
    
    <br>
    
    <mat-form-field >
      <mat-label>Universe</mat-label>
      <mat-select>
        <mat-option *ngFor="let universe of heroUniverses" [value]="universe">
          {{universe | uppercase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <br>
    <button mat-stroked-button (click)="goBack()">go back</button>
    <button mat-flat-button color="primary" mat-stroked-button (click)="save()">save</button>
  </mat-card>
  </div>