/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}


.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
button.delete {
  border: none;
  position: absolute;
  right: 10px;
  top: 15.75px;
  background-color: white;
  color:  #525252;
  font-size: 1.1rem;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  box-shadow: rgb(124, 124, 124) 2px 2px 2px 2px;
  color: black;
}

.mat-fab{
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.mat-card{
  height: 63px;
  padding: 0px;
  margin-bottom: 15px;
}

.mat-card a{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  display: flex;
}

.img-hero{
  margin-left: 3px;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

mat-card-title{
  margin: 2px 10px;
}

mat-card-subtitle{
  margin-left: 10px;
  margin-top: 3px !important;
  font-size: 15pt ;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.mat-card a div{
  width: 80%;
}